/**
 * Fonts
 */
$content:           "Ubuntu", Helvetica, Arial, sans-serif;

/**
 * Base Colors
 */
$blue:              #037F8C;
$red:               #BF2C47;

$white:             #FAFAFA;
$gray:              #3C3C3C;

/**
 * Overrides
 */

$use-grids:         true;