// Fonts
$content:           'Roboto', Helvetica, Arial, sans-serif;

// Colors
$color-base:        #435BA6;
$color-alt:         #71bc59;

$white:             #FAFAFA;
$gray:              #3C3C3C;

// Base
$base-font-size:    18px!default;
$base-line-height:  26px!default;

$base-font-family:  $content;

// Brand
$brand-color:       $color-alt;
$brand-face:        $content;

// Overrides
$use-grids:         true;
$use-island:        true;
$use-nav:           true;