// Fonts
$content:           "Ubuntu Light", Helvetica, Arial, sans-serif;

// Colors
$blue:              #435BA6;
$red:               #BF2C47;

$white:             #FAFAFA;
$gray:              #3C3C3C;

// Base
$base-font-size:    18px!default;
$base-line-height:  26px!default;

$base-font-family:  $content;

// Brand
$brand-color:       $red;
$brand-face:        $content;

// Overrides
$use-grids:         true;
$use-island:        true;
$use-nav:           true;