@import "vars";
@import "inuit.css/inuit";

body {
  background: $white;
  color: $gray;
  font-family: $content;
  font-weight: 300;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
}

.wrapper {
  max-width: 40rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

a {
  color: $blue;
  text-decoration: none;
}

strong {
  font-weight: 500;
}

.header-container {
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.logo {
  display: block;
  color: $red;
  text-decoration: none;
}

.lead {
  @include font-size($base-font-size * 1.25);
}

.list {
  .link {
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-left: 3px solid darken($white, 20%);
    .title, .date {
      display: block;
      width: 100%;
      font-weight: 400;
      color: $gray;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .excerpt {
      color: $gray;
      margin: 1rem 0;
    }
    &.highlite {
      border-left-color: $blue;
    }
  }
}

article[role="main"] {
  line-height: 1.6;
}

.meta {
  background: #f9fea2;
}

::selection {
  background: $blue;
  color: $white;
}
