@import "vars";
@import "inuit.css/inuit";

body {
  background: $white;
  color: $gray;
  font-family: $content;
  font-weight: 300;
  padding-left: 2rem;
  border-left: 6px solid $blue;
}

.wrapper {
  max-width: 30rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: $blue;
  text-decoration: none;
}

.logo {
  color: $red;
  text-decoration: none;
}

.lead {
  @include font-size($base-font-size * 1.25);
}

.list {
  a {
    padding: 3px 6px;
    .title, .date {
      display: block;
      width: 100%;
    }
    &:hover {
      background: $blue;
      color: $white;
    }
  }
}

article[role="main"] {
  line-height: 1.5;
}

.meta {
  background: #f9fea2;
}

::selection {
  background: $blue;
  color: $white;
}