<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.slug == "home" %}{{ site.title }}{% else %}{{ page.title }} &ndash; {{ site.title }}{% endif %}</title>
  <meta name="author" content="Aniket Pant">
  <meta name="description" content="{{ site.tagline }}">
  <meta name="keywords" content="aniket, pant, rawrrr, journal">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="grid wrapper push--top">
      <header class="grid__item one-third palm-one-whole" role="banner">
        <a class="logo" href="/" rel="nofollow"><img src="/images/logo.png" alt="{{site.title}}" /></a>
      </header><!--
      --><section role="main" class="grid__item two-thirds palm-one-whole push-half--top">
        <p class="lead">I'm a <strong>developer</strong> who <a href="http://aniketpant.com/archive">writes</a>, <a href="http://aniketpant.com/speaking">talks</a> and <a href="http://twitter.com/aniket_pant">tweets</a>.</p>
      {{ content }}
      </section><!--
    --><footer class="grid__item push--desk-one-third two-thirds palm-one-whole smallprint" role="contentinfo">
        <p><span class="muted">Handcrafted by</span> <a href="http://twitter.com/aniket_pant">Aniket</a>.</p>
      </footer> <!-- footer -->
    </div>

    <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Roboto:500,300,300italic:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
</body>
</html>
