<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.slug == "home" %}{{ site.title }}{% else %}{{ page.title }} &ndash; {{ site.title }}{% endif %}</title>
  <meta name="author" content="Aniket Pant">
  <meta name="description" content="{{ site.tagline }}">
  <meta name="keywords" content="aniket, pant, rawrrr, journal">
  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
  <!--[if lt IE 7]>
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

    <div class="header-container">
      <header class="grid wrapper" role="banner">
        <div class="grid__item one-whole">
          <a class="logo" href="/" rel="nofollow"><img src="/images/logo.png" alt="{{site.title}}" /></a>
        </div>
      </header> <!-- header -->
    </div> <!-- header-container -->

    <div class="main-container">
      <div class="grid wrapper">
        <div class="grid__item one-whole">
          <section role="main">
            <p class="lead">I’m <strong>Aniket</strong>. I <a href="http://aniketpant.com/archive">write</a>, <a href="http://aniketpant.com/speaking">talk</a> and <a href="http://twitter.com/aniket_pant">tweet</a>.</p>
          {{ content }}
          <section>
        </div>
      </div>
    </div> <!-- main-container -->
    <div class="footer-container">
      <div class="grid wrapper">
        <footer class="grid__item one-whole smallprint" role="contentinfo">
          <p><span class="muted">Handcrafted by</span> <a href="http://twitter.com/aniket_pant">Aniket</a>.</p>
        </footer> <!-- footer -->
      </div>
    </div> <!-- footer-container -->

    <script type="text/javascript">
    WebFontConfig = {
      google: { families: [ 'Roboto:500,300,300italic:latin' ] }
    };
    (function() {
      var wf = document.createElement('script');
      wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
        '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
      wf.type = 'text/javascript';
      wf.async = 'true';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(wf, s);
    })(); </script>
</body>
</html>
